$main-font-family: Roboto, Arial, Helvetica, sans-serif;
$main-font-size: 14px;

$color-white: #ffffff;
$color-white-2: #f0f0f0;
$color-red-1: #b62222;
$color-red-2: #a80000;
$color-red-3: #ffe5e5;
$color-red-4: #c84444;
$color-orange-1: #bda125;
$color-orange-2: #ce8b1b;
$color-yellow-1: #e2e25e;
$color-green-1: #23bd30;
$color-green-2: #31db3f;
$color-green-3: #baffab;
$color-black: #000000;
$color-blue-1: #80b3ff;
$color-blue-2: #1087f0;
$color-blue-3: #0000ff;
$color-lt-blue-1: #d9e9f9;
$color-lt-blue-2: #9fcdfb;
$color-dk-blue-1: #1f1f64;
$color-dk-blue-2: #3333aa;
$color-purple-1: #8533bb;
$color-dk-gray-1: #555555;
$color-gray-1: #767d76;
$color-lt-gray-1: #999999;
$color-lt-gray-2: #bbbbbb;
$color-off-white: #dddddd;

$color-logo-orange: #e77c22;
$color-logl-gray: #3f5b6a;
$color-nav-icon: #5353f0;
$color-nav-icon-hover: #33aeff;
$color-nav-disabled: #7777aa;
$color-highlight-1: #a1bce3;
$color-btn-secondary: #64748b;
$color-btn-success: #45c003;

$color-table-alt-row: #f4f4ff;
$color-table-header-row: #dbdcdd;
$color-tab-menu-border: #a9a9a9;
$color-tab-menu-bkgnd: #f1f1f1;
$color-box-shadow-1: #8080c0;
$color-box-shadow-2: #aab7c9;
$color-layout-bkgnd: #ffffff;
$color-layout-header-bkgnd: #e4f0f6;
$color-dialog-border: #666678;
$color-dialog-shadow: #474758;
$color-field-group-border: #dbdcdd;
$color-field-group-bkgnd: #e5e5e5;
$color-field-disabled-text: #6a6768;
$color-field-disabled-border: #6a6768;
$color-field-disabled-bkgnd: #d0d0d0;

$color-darktheme-bkgnd: #333333;
$color-darktheme-frgnd: #ffffff;
$color-darktheme-contrast: #7f7f7f;
$color-darktheme-ctrst-border: #a9a9a9;
$color-darktheme-bkgnd-hdr: #b8c8d8;
$color-darktheme-tbl-row-bkgnd: #404040;
$color-darktheme-tbl-altrow-bkgnd: #383838;
$color-darktheme-tbl-frgnd: #e0e0e0;
$color-darktheme-text-green: #33cc33;
$color-darktheme-text-blue: #20a8f5;
$color-darktheme-text-purple: #b134f0;
$color-darktheme-text-red: #cc3333;
$color-darktheme-highlight: #e8944f;
$color-darktheme-highlight-lt: #ea9d5e;
$color-darktheme-dlg-bkgnd: #d8d8d8;

$form-border-radius: 5px;
